.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #08637e;
}

.swatchPanel {
  width: 500px;
  min-height: 300px;
  background-color: rgb(49, 48, 48);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  margin-bottom: 15px;
}

.colorBox {
  padding: 20px;
  border-radius: 20px;
}

.generateBtn {
  display: inline-block;
  min-width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #021832;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.errorMsg {
  color: red;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-column: 1/4;
}